@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,500;1,600&family=Roboto:wght@300;700&display=swap');
* {
  margin: 0;
  padding: 0;
}
header {
  background-color: #e6da65;
}
body {
  font-family: 'Chakra Petch', sans-serif;
  box-sizing: border-box;
}
h1 {
  font-family: 'Chakra Petch';
  font-size: 62px;
  font-weight: 500;
  color: #e5e5e5;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  background-color: #e6da65;
}
.container1 {
  display: flex;
  justify-content: center;
}
.game-container {
  line-height: 1.5;
  background-color: #e5e5e5;
}
.logo {
  width: 150px;
  height: 83px;
  display: flex;
}
.nav-desktop {
  height: 88px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
}

a {
  text-decoration: none;
  color: #1d2540;
  font-family: 'Chakra Petch';
  font-weight: 500;
}
.searchbar {
  width: 480px;
  height: 64px;
  text-indent: 10px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border-radius: 20px;
  border-width: 0;
  margin-bottom: 12px;
}
.nav-desktop ul li {
  list-style: none;
  display: inline-block;
  margin: 20px;
}
.fa-user-circle {
  opacity: 0;
}
.fa-gamepad {
  opacity: 0;
}
.fa-comments {
  opacity: 0;
}

.header-section {
  display: flex;
  flex-direction: row;
}

.hero-banner {
  height: 708px;
}
.hero-banner-text {
  width: 1330px;
  height: 202px;

  margin: 0 auto;
}

.hbt {
  padding: 75px;
}

.hbt2 {
  padding-left: 75px;
  color: #c4c4c4;
}
.bold {
  font-weight: 500;
  color: #2a211a;
}

.header-pic {
  background-image: url('../img/herobanner1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.9;
}

.button {
  cursor: pointer;
  background-color: #d3c033;
  text-align: center;
  width: 200px;
  border-color: black;
  border-style: solid;
  display: flex;
  justify-content: space-around;
  font-family: 'Chakra Petch';
  font-weight: 300;
  font-size: 32px;
  margin-left: 75px;
}
.features {
  background-color: #2b2b2b;
}
.even-columns {
  display: flex;
  justify-content: space-between; /*Lager jevn plass MELLOM elementene
  Justify-content: space-around; 
  kan også brukes her og lager automatisk like mye plass mellom 
  elementene 
  OG 
  høyre/venstre siden av elementene i forhold til containeren de er inni
  Derfor er det viktig å spesifisere width på foreldre elementet*/

  /*Styrer bredden til flex-containeren*/
  max-width: 80%;
  margin: 0 auto;
  height: 600px;
}
.game-columns {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;
  height: 150px;
  flex-wrap: wrap;
}
.card {
  max-width: 250px;
  width: 250px;
}
.cover1 {
  max-width: 150px;
  height: 150px;
}

.card h3 {
  text-align: center;
}
.card img {
  margin-bottom: 5px;
}

.button-card {
  color: black;
  width: 200px;
  text-decoration: none;
  border-style: solid;
  font-family: 'Chakra Petch';
  font-size: 32px;
  font-weight: 300;
  background-color: #d3c033;
  padding: 0px 49px;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
h3 {
  font-style: italic;
  color: #e5e5e5;
}

.games {
  display: flex;
  justify-content: space-between;
  color: #1d2540;
}

.pre {
  display: flex;
  flex: 1;
  padding: 5px;
}
.new {
  display: flex;
  flex: 1;
  padding: 5px;
}
.used {
  display: flex;
  flex: 1;
  padding-top: 5px;
}

.button2 {
  cursor: pointer;
  background-color: #d3c033;
  text-align: center;
  width: 200px;
  border-color: black;
  border-style: solid;
  position: absolute;
  bottom: 10px;
  margin-left: 75px;
  font-family: 'Chakra Petch';
  font-weight: 300;
  font-size: 32px;
}
.button3 {
  cursor: pointer;
  background-color: #d3c033;
  text-align: center;
  width: 200px;
  border-color: black;
  border-style: solid;
  position: absolute;
  bottom: 10px;
  left: 531px;
  font-family: 'Chakra Petch';
  font-weight: 300;
  font-size: 32px;
}
.button4 {
  cursor: pointer;
  background-color: #d3c033;
  text-align: center;
  width: 200px;
  border-color: black;
  border-style: solid;
  position: absolute;
  bottom: 10px;
  left: 939px;
  font-family: 'Chakra Petch';
  font-weight: 300;
  font-size: 32px;
}
.community-title {
  text-align: center;
  font-family: 'Chakra Petch';
  font-size: 48px;
  font-weight: 300;
  color: #1d2540;
}
.features-title {
  font-size: 48px;
  font-family: 'Chakra Petch';
  text-align: center;
  color: #e5e5e5;
}
.community {
  width: 100%;
  height: 800px;
  background-image: url(/img/co.png);
  background-size: cover;
  color: #d3c033;
  opacity: 0.8;
  display: flex;
  justify-content: center;
}
.community-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
  padding-top: 40px;
}
.community1 {
  font-size: 72px;
  padding-left: 75px;
  display: flex;
  justify-content: center;
  color: #e5e5e5;
}
.community2 {
  font-family: 'Chakra Petch';
  font-weight: 700;
  font-size: 62px;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.315);
  padding-left: 75px;
}

.button5 {
  cursor: pointer;
  color: #1d2540;
  background-color: #d3c033;
  text-align: center;
  width: 200px;
  border-color: black;
  border-style: solid;
  display: flex;
  justify-content: space-around;
  font-family: 'Chakra Petch';
  font-weight: 300;
  font-size: 32px;
  margin-left: 75px;
}

.footer {
  background-color: #d3c033;
}
.logo-footer {
  width: 150px;
  height: 83px;
  display: flex;
  float: inline-start;
  padding-top: 20px;
}

.column-layout {
  max-width: 1330px;
  background-color: #d3c033;
  margin: 0 auto;
  line-height: 1.65;
  padding: 92px 75px;
  display: flex;
}
.main-column {
  flex: 1;
}
.sidebar-one {
  flex: 1;
}
.sidebar-two {
  flex: 1;
}
main {
  max-width: 1330px;
}
.container-contact {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1330px;
  height: 100%;
  padding: 20px 100px;
}

.container-contact:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(/img/herobanner1.png) no-repeat center;
  background-size: cover;
  z-index: -1;
  filter: blur(50px);
}
.contact {
  color: #1d2540;
}
.contact-box {
  max-width: 1193px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}
.left {
  height: 100%;
  max-width: 1330px;
  background: url(/img/herobanner1.png) no-repeat center;
  background-size: cover;
}
.right {
  padding: 25px 40px;
}
h2 {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
h2:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #d3c033;
}
.field {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: rgba(230, 230, 230, 0.6);
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}
.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.field:focus {
  background-color: #fff;
  border: 2px solid rgba(30, 85, 250, 0.47);
}
.area {
  min-height: 150px;
}
.btn {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  background-color: #d3c033;
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.3s;
}
.btn:hover {
  background-color: #27ae60;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: url(/img/accountphoto.png);
  background-size: cover;
}
.container-login {
  max-width: 700px;
  width: 100%;
  background: #c4c4c4;
  padding: 25px 30px;
  border-radius: 5px;
}
.container-login .title {
  font-size: 25px;
  font-weight: 300;
  position: relative;
}
.container-login .title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: #01403a;
}
.container-login form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #01403a;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #1d2540;
}
form .seller-details .seller-title {
  font-size: 20px;
  font-weight: 500;
}
form .seller-details .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}
.seller-details .category label {
  display: flex;
  align-items: center;
}
.seller-details .category .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  border: 3px solid transparent;
  transition: all 0.3s ease;
}
#dot-1:checked ~ .category .one,
#dot-2:checked ~ .category .two,
#dot-3:checked ~ .category .three {
  border-color: #000;
  background: #1d2540;
}
.checkout-container {
  max-width: 700px;
  width: 100%;
  background: #c4c4c4;
  padding: 25px 30px;
  border-radius: 5px;
  margin: 20px;
}

form input[type='radio'] {
  display: none;
}
form .btn-loggin {
  height: 45px;
  margin: 45px 0;
}
form .btn-loggin input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  background: #01403a;
  font-size: 18px;
  font-family: Chakra Petch;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
}
form .btn-loggin input:hover {
  background: #bc2d7c;
}

.container-account {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1330px;
  height: 100%;
  padding: 20px 100px;
}

.games-container {
  width: 88vw;
  margin: 0 auto;
}
.game-title,
.sm-title,
.md-title {
  font-family: 'Roboto', sans-serif;
  padding: 0.6rem 0;
  text-transform: capitalize;
}
.game-title {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  padding: 1.3rem 0;
  opacity: 0.9;
}
.md-title {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}
.sm-title {
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
  color: #2b2b2b;
}

.games {
  background: #2b2b2b;
  padding: 3.2rem 0;
}

.game {
  margin: 2rem;
  position: relative;
}
.game-content {
  background: #e5e5e5;
  padding: 3rem 0.5rem 2rem 0.5rem;
  cursor: pointer;
}
.game-img {
  background: #01403a;
  box-shadow: 0 0 20px 10px #e5e5e5;
  width: 300px;
  margin: 0 auto;
  border-radius: 50%;
  transition: background 0.5s ease;
}
.game-btns {
  display: flex;
  justify-content: center;
  margin-top: 1.4rem;
  opacity: 0;
  transition: opacity 0.6s ease;
}
.btn-cart,
.btn-buy {
  background: transparent;
  border: 1px solid black;
  padding: 0.8rem 0;
  width: 125px;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: all 0.6s ease;
}
.btn-cart {
  background: black;
  color: white;
}
.btn-cart:hover {
  background: teal;
}
.btn-buy {
  background: white;
}
.btn-buy:hover {
  background: teal;
  color: #fff;
}
.game-info {
  padding: 2rem;
  background: #e5e5e5;
}
.game-info-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rating span {
  color: #d3c033;
  font-size: 10px;
}
.game-name {
  color: #000;
  display: block;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}
.game-price {
  padding-top: 0.6rem;
  padding-right: 0.6rem;
  display: inline-block;
}
.game-price:first-of-type {
  text-decoration: line-through;
  color: #01403a;
}
.game-img img {
  transition: transform 0.6s ease;
}
.game:hover .game-img img {
  transform: scale(1.1);
}
.game:hover .game-img {
  background: #01403a;
}
.game:hover .game-btns {
  opacity: 1;
}
.off-info .sm-title {
  background: #01403a;
  color: white;
  display: inline-block;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  z-index: 1;
  letter-spacing: 3px;
  cursor: pointer;
}
.container-account:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(/img/herobanner1.png) no-repeat center;
  background-size: cover;
  z-index: -1;
  filter: blur(50px);
}
.profile-pic {
  background: url(/img/accountphoto.png);
  height: 100%;
  max-width: 1330px;
  background-size: cover;
}
.btn-2 {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  background-color: #d3c033;
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.3s;
}
.game-wrapper {
  max-width: 900px;
  margin: 0;
}
.img-display {
  overflow: hidden;
}
.img-showcase {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}
.img-showcase img {
  min-width: 100%;
}
.img-select {
  display: flex;
}
.img-item {
  margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
  margin-right: 0;
}
.img-item:hover {
  opacity: 0.8;
}
.product-content {
  padding: 2rem 1rem;
}
.product-title {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 600;
  position: relative;
  color: #2b2b2b;
  margin: 1rem 0;
}
.product-title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 80px;
  background: #d3c033;
  transform: translateX(0%);
}
.product-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background: #256eff;
  color: #fff;
  padding: 0 0.3rem;
  transition: all 0.5s ease;
}
.product-link:hover {
  opacity: 0.9;
}
.product-rating {
  color: #d3c033;
}
.product-rating span {
  font-weight: 600;
  color: #01403a;
}
.product-price {
  margin: 1rem 0;
  font-size: 1rem;
}
.product-price span {
  font-weight: 600;
}
.original-price span {
  font-weight: 600;
  color: tomato;
  text-decoration: line-through;
}
.new-price span {
  color: #01403a;
}
.product-detail h2 {
  text-transform: capitalize;
  color: #1d2540;
  padding-bottom: 0.6rem;
}
.product-detail p {
  font-size: 0.9rem;
  padding: 0.3rem;
  opacity: 0.8;
  font-family: 'Roboto';
}
.product-detail ul {
  margin: 1rem 0;
  font-size: 0.9rem;
}
.product-detail ul li {
  margin: 0;
  list-style: none;
  font-weight: 400;
  opacity: 0.9;
}
.product-detail ul li span {
  font-weight: 400;
}
.purchase-info {
  margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .add-cart {
  border: 1px solid #ddd;
  text-align: center;
  padding: 0.5rem 1rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
  font-family: 'Roboto';
}
.purchase-info input {
  width: 60px;
}
.purchase-info .add-cart {
  cursor: pointer;
  color: #e5e5e5;
}
.purchase-info .add-cart:first-of-type {
  background: #256eff;
}
.purchase-info .add-cart:last-of-type {
  background: #01403a;
}
.purchase-info .add-cart:hover {
  opacity: 0.9;
}
.social-links {
  display: flex;
  align-items: center;
}
.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #000;
  border: 1px solid #000;
  margin: 0 0.2rem;
  font-size: 0.8rem;
}
.social-links2 {
  display: flex;
  align-items: center;
}
.social-links2 a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #fff;
  border: 1px solid #000;
  margin: 0 0.2rem;
  font-size: 0.8rem;
}
.social-links2 a:hover {
  background: #27ae60;
}
.social-links a:hover {
  background: #000;
  border-color: transparent;
  color: #fff;
}
.float-layout {
  padding: 5px 5px;
  float: left;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin: 0;
}
.card-container {
  overflow: hidden;
}
.checkout-card {
  background-color: #2b2b2b;
  color: #e5e5e5;
  width: 100%;
  float: right;
}
.card-titlte {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
}
.card-desc {
  padding: 10px;
  text-align: left;
  font-size: 20px;
}
.card-image {
  display: flex;
}
div.card-image img {
  width: 50%;
  height: auto;
}

@media screen and (max-width: 584px) {
  .container-login {
    max-width: 100%;
  }
  div.card-image img {
    width: 100%;
    height: auto;
  }
  .card-image {
    flex-direction: column;
  }
  .checkout-card {
    width: 100%;
    margin-top: -4px;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .seller-details .category {
    width: 100%;
  }
  .container-login form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 0;
  }
}
/* Contact page */
@media screen and (max-width: 880px) {
  .contact-box {
    grid-template-columns: 1fr;
  }
  .left {
    height: 200px;
  }
  .button-card {
    color: black;
    text-decoration: none;
    border-style: solid;
    font-family: 'Chakra Petch';
    font-weight: 300;
    background-color: #d3c033;
    padding: 0px 49px;
  }
}
@media screen and (min-width: 992px) {
  .game-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .game-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #e5e5e5;
  }
}
@media screen and (max-width: 1200px) {
  .ul-mobile {
    display: none;
  }
  .fa-user-circle {
    font-size: 32px;
    padding-bottom: 10px;
    opacity: 1;
  }
  .fa-gamepad {
    font-size: 32px;
    padding-bottom: 10px;
    opacity: 1;
  }
  .fa-comments {
    font-size: 32px;
    padding-bottom: 10px;
    opacity: 1;
  }
}
/* Mobile */
@media screen and (max-width: 1024px) {
  .searchbar {
    width: 200px;
    height: 40px;
    text-indent: 10px;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    border-radius: 20px;
    border-width: 0;
    margin-bottom: 12px;
  }
  .hero-banner {
    height: 475px;
  }
  .nav-desktop {
    height: 88px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
  }
  .card {
    max-width: 350px;
    width: 350px;
  }

  .ul-mobile {
    display: none;
  }
  .hero-banner-text {
    width: 1330px;
    height: 202px;
    background-color: rgba(0, 0, 0, 0.171);
    margin: 0 auto;
  }
  .bold {
    color: lightcoral;
  }
  .even-columns {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    /*Lager jevn plass MELLOM elementene
    Justify-content: space-around; 
    kan også brukes her og lager automatisk like mye plass mellom 
    elementene 
    OG 
    høyre/venstre siden av elementene i forhold til containeren de er inni
    Derfor er det viktig å spesifisere width på foreldre elementet*/

    /*Styrer bredden til flex-containeren*/
    max-width: 80%;
    margin: 0 auto;
    height: auto;
    padding-bottom: 15px;
  }

  .logo {
    width: 72px;
    height: 72px;
    display: flex;
  }

  h1 {
    font-family: 'Chakra Petch';
    font-size: 25px;
    font-weight: 500;
    color: #e5e5e5;
  }
  h2 {
    font-size: 25px;
    color: #e5e5e5;
    font-weight: 300;
  }
  .cover1 {
    max-width: 150px;
    height: 150px;
  }
  .button {
    cursor: pointer;
    background-color: #d3c033;
    text-align: center;
    width: 125px;
    border-color: black;
    border-style: solid;
    display: flex;
    justify-content: space-around;
    font-family: 'Chakra Petch';
    font-weight: 300;
    font-size: 25px;
    margin-left: 75px;
  }
  .community {
    height: 375px;
  }
  .community-title {
    text-align: center;
    font-family: 'Chakra Petch';
    font-size: 25px;
    font-weight: 300;
    color: #1d2540;
  }
  .community-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
    padding-top: 40px;
  }
  .community1 {
    font-size: 25px;
    display: flex;
    justify-content: center;
    color: #e5e5e5;
  }
  .community2 {
    font-family: 'Chakra Petch';
    font-weight: 700;
    font-size: 20px;
    color: #e5e5e5;
  }
  .button5 {
    cursor: pointer;
    color: #1d2540;
    background-color: #d3c033;
    text-align: center;
    width: 125px;
    border-color: black;
    border-style: solid;
    display: flex;
    justify-content: space-around;
    font-family: 'Chakra Petch';
    font-weight: 300;
    font-size: 25px;
    margin-left: 50px;
    padding: 15px;
  }
  .column-layout {
    max-width: 1330px;
    background-color: #d3c033;
    margin: 20px;
    line-height: 1.65;
    padding: 20px 20px;
    font-size: 12px;
    display: flex;
  }
  .main-column {
    flex: 1;
  }
  .sidebar-one {
    flex: 1;
  }
  .sidebar-two {
    flex: 1;
  }
  .logo-footer {
    width: 62px;
    height: 40px;
    display: flex;
    float: inline-start;
    padding-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .game-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .game {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
